.card {
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    min-width: 0;
    height: 200px;
    color: #fff;
    word-wrap: break-word;
    background: rgba(255, 255, 255, 0.064);
    background-clip: border-box;
    border: 2px solid #414141;
    border-radius: 20px;
    backdrop-filter: blur(10px);
}

#admin-heading{
    font-size: 30px;
}

.list-group {
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    min-width: 0;
    padding: 8px;
    color: #fff;
    word-wrap: break-word;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15.6px);
    -webkit-backdrop-filter: blur(15.6px);
    /* background: rgba(255, 255, 255, 0.064); */
    background: rgba(0, 0, 0, 0.396);
    background-clip: border-box;
    backdrop-filter: blur(10px);
    border: 2px solid #414141;
    border-radius: 20px;
}
.list-group-item {
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    min-width: 0;
    color: #000000;
    word-wrap: break-word;
    background: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 500;
    background-clip: border-box;
    border: 2px solid #414141;
    border-radius: 10px;
    margin-bottom: 5px;
    backdrop-filter: blur(10px);
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.list-group-item:hover {
    color: #000000;
    background: #4d4d4ddf !important;
    background-clip: border-box;
    color: #fff;
    border: none;
}
.list-group-item.active {
    color: #000000;
    background: #0358ae !important;
    background-clip: border-box;
    color: #fff;
    border: none;
}

/* .category-table{
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 10px;
    height: 400px;
    color: #fff;
    word-wrap: break-word;
    background: rgba(186, 186, 186, 0.16);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15.6px);
    -webkit-backdrop-filter: blur(15.6px);
    background: rgba(255, 255, 255, 0.064);
    background-clip: border-box;
    border: 2px solid #414141;
    border-radius: 10px;
    backdrop-filter: blur(10px);
} */


.category-table{
        width:100%;
        table-layout: fixed;
}

.tb1-header{
    /* background-color: rgba(255, 0, 0, 0.728); */
    background-image: initial;
    /* background-color: rgb(12, 19, 60); */
    background: linear-gradient(130deg,rgba(5, 19, 54, 0.661),rgba(16, 20, 30, 0.661)) ;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15.6px);
    border: 1px solid rgba(89, 89, 89, 0.822);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
   }
  .tbl-content{
    height:500px;
    overflow-x:auto;
    margin-top: 0px;
    border: 1px solid rgba(255,255,255,0.3);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  th{
    padding: 15px 90px;
    text-align: left;
    font-weight: 500;
    font-size: 22px;
    color: #fff;
    text-transform: uppercase;
  }
  td{
    padding: 10px 90px;
    text-align: left;
    vertical-align:middle;
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    border-bottom: solid 1px rgba(255,255,255,0.1);
  } 
  
  tr:nth-child(even) {
    background-color: #44444482;
  } 

  /* for custom scrollbar for webkit browser*/
  
  ::-webkit-scrollbar {
      width: 10px;
  } 
  ::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(249, 249, 249, 0.616); 
  } 
  ::-webkit-scrollbar-thumb {
      -webkit-box-shadow: inset 0 0 50px rgb(0, 0, 0); 
  }