/* .CreateProduct{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;


} */

.CreateProduct {
  max-width: 1200px; /* Set the maximum width for the form */
  margin: 0 auto; /* Center the form horizontally */
  border: 1px solid #ccc;

  background-color: #f5f5f5;
  padding: 20px;
  /* border-radius: 10px; */
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */

  /* From https://css.glass */
  background: rgba(237, 233, 233, 0.17);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.9px);
  -webkit-backdrop-filter: blur(5.9px);
  border: 1px solid rgba(91, 19, 19, 0.08);
  padding: 30px;
}

.CreateProduct label.btn {
  /* width: 100%; */
  text-align: left;
margin: 0;
  /* background-color: #120202; */
  background-color: #030f1f;
  color: white;
  border: none;
  border-radius: 30px;
  padding: 10px 20px;
  cursor: pointer;
}


.CreateProduct img {
  max-width: 40%;
  height: auto;
}

/* Style the button */
.CreateBtn {
  padding: 12.5px 30px;
  border: 0;
  border-radius: 100px;
  /* background-color: #127dc4; */
  /* background-color: #1de90a; */
  background-color: #ffffff;
  color: #000000;
  font-weight: Bold;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.CreateBtn:hover {
  /* background-color: #6fc5ff; */
  background-color: #8bef82;
  box-shadow: 0 0 20px #66ff735d;
  transform: scale(1.1);
}

.CreateBtn:active {
  background-color: #3d94cf;
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
  box-shadow: none;
  transform: scale(0.98);
}

/* Add some spacing between elements */
.CreateProduct .mb-3 {
  margin-bottom: 15px;
}

/* Customize form controls */
.CreateProduct .form-control {
  width: 100%;
  /* padding: 10px; */
  /* border: 1px solid #ccc; */

  border: none;
  outline: none;
  caret-color: rgba(7, 7, 7, 0.945);
  /* background-color: #120202; */
  background-color: #030f1f;
  border-radius: 30px;
  padding-left: 15px;
  letter-spacing: 0.8px;
  color: #fff;
}

/* Customize select elements */
.CreateProduct .form-select {
  border: none;
  border-radius: 30px;
  padding: 10px;
  margin: 5px 0;
  width: 100%;
  background-color: #030f1f;
}

.form-select .ant-select-selection-placeholder,
.form-select .ant-select-selection-selected-value,
.form-select .ant-select-selection-item {
  color: #969696 !important; /* Change the color as per your preference */
  font-weight: bold !important; /* Add other text styles as needed */
}

/* Style for the dropdown options */
.form-select .ant-select-item {
    padding: 8px 12px; /* Adjust padding as needed */
    margin: 0; /* Reset margins */
    /* ... */
  }

.CreateProduct input {
  height: 50px;
}
.CreateProduct ::placeholder {
  font-size: large;
  color: #969696;
  padding-left: 10px;
}

.btn-update{
    /* background-color:transparent; */
    font-size: medium;
    font-weight: 400;
    border: 4px solid #1de90a!important;
    background-color: black;
    color: #fff;
    border-radius: 20px;
  }
  .btn-delete{
    /* background-color:transparent; */
    font-size: medium;
    font-weight: 400;
    border: 4px solid #f33b12!important;
    background-color: black;
    color: #fff;
    border-radius: 20px;
  }