.filter-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.filter-section {
  border: 1px solid rgba(219, 35, 25, 0.903);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  font-family: "Arial", sans-serif;
}

.filter-heading {
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.903);
  font-weight: 400;
  margin-bottom: 15px;
}

.radio-group-container,
.category-checkbox-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.custom-radio input[type="radio"],
.ant-checkbox-input {
  margin-right: 10px;
  border-color: rgba(219, 35, 25, 0.903);
  background-color: rgba(219, 35, 25, 0.903);
  /* Set background color */
}
.ant-checkbox-input:checked:hover {
  border-color: rgba(219, 35, 25, 0.903);
  background-color: rgba(219, 35, 25, 0.903); /* Set background color */
}

.custom-radio input[type="radio"]:checked,
.ant-checkbox-checked .ant-checkbox-inner {
  background-color: rgba(219, 35, 25, 0.903); /* Set checked background color */
  border-color: rgba(219, 35, 25, 0.903); /* Set checked border color */
}

.custom-radio,
.ant-checkbox-wrapper {
  cursor: pointer;
  padding: 10px;
  color: #fff;
  border: 1px solid rgba(74, 74, 74, 0.903);
  border-radius: 10px;
  display: flex;
  align-items: center;
  transition: background-color 0.2s ease;
  font-size: 1rem;
}

.custom-radio:hover,
.ant-checkbox-wrapper:hover {
  background-color: #956f36;

}

.ant-radio-checked .ant-radio-inner {
  border-color: rgba(219, 35, 25, 0.903) !important ;
  background-color: rgba(219, 35, 25, 0.903) !important;
}

.btn-danger{
  background-color:transparent;
  font-size: large;
  font-weight: 400;
  border: 4px solid #f39c12!important;
}