.angry-grid {
  display: grid;

  grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

  gap: 0px;
  height: 100%;
}

#item-0 {
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  margin-left: 30px;
  border-left: 2px solid #818181;
  border-right: 2px solid #818181;
  grid-row: 1 / 2;
  grid-column: 1 / 4;
}
#item-1 {
  
  background-color: #000000;
  margin-left: 30px;
  border-left: 2px solid #818181;
  border-right: 2px solid #818181;
  grid-row: 2 / 3;
  grid-column: 1 / 4;
}
#item-2 {
  background-color: #000000;
  margin-left: 30px;
  border-left: 2px solid #818181;
  border-right: 2px solid #818181;
  border-bottom: 2px solid #818181;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  height: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding-bottom: 30px; */
  grid-row: 3 / 4;
  grid-column: 1 / 4;
}
 h3{
  display: flex;
  color: #88ff00;
  justify-content: center;
  align-items: center;
}
.ul-1 {
  list-style: none;
  display: inline-flex;
  justify-content: center;
  text-align: center;
}
.li-1{
  padding-left: 14px;
}
.ul-2{
 list-style: none;
 font-size: 20px;
}
#item-3 {
  background-color: transparent;
  font-size: 20px;
  padding-top: 50px;
  color: #fff;
  display: flex;
  justify-content: center;
  text-align: center;
  grid-row: 1 / 4;
  grid-column: 4 / 7;
}

h2{
  border-bottom: 2px solid #0099ff; /* Adjust the thickness and color as needed */
}
.nav-link{
  font-size: 25px;
  padding-bottom: 15px;
}
.footer-menu a{
  color: #fff;
  padding-left: 0;
  display: flex;
  justify-content: center;
  text-align: center;
}
ul{
  padding-left: 0;
}
/* Styles for the form */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Styles for the input */
input {
  padding: 10px;
  width: 100%;
  border: 1px solid #ccc;
  background-color: #010101;
  border-radius: 10px;
  padding-bottom: 10px;
}

/* Styles for the submit button */
button {
  padding: 10px 20px; 
  background-color: #000000;
  color: #fff;
  font-weight: 600;
  border: 0.5px solid #323232;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #ffffff;
  color: #000;
}
#item-4 {
  background-color: transparent;
  grid-row: 1 / 4;
  grid-column: 7 / 10;
}
#item-5 {
  padding-top: 5px;
  padding-left: -10px;
  /* background-color: #eb5be9; */
  grid-row: 4 / 5;
  grid-column: 1 / 10;
}

.copyright {
  display: flex;
  justify-content: center;
  padding: 28px 20px;
  background-color: #000000;
  width: 100%;
}
.copyright span {
  color: #9f9f9f;
}

.parent-footer {
  background: linear-gradient(300deg, #8c0303, #070606, #232323);
  background-size: 180% 180%;
  animation: gradient-animation 20s ease infinite;
  box-shadow: 0 2px 4px;
  border-top: 0.5px solid rgb(255, 255, 255);
}

.footer-info-text {
  display: flex;
  text-align: center;
  padding: 10px;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  color: white;
  line-height: 28px;
}

.facebook:hover {
  color: blue;
}
.instagram:hover {
  color: rgba(232, 20, 144, 0.945);
}
.whatsapp:hover {
  color: green;
}


/* Responsive styles */
@media (max-width: 767px) {
  .center-content {
    text-align: center;
  }
}

/* Footer CSS  */

@media screen and (max-width: 768px) {
  .footer {
    padding: 10px;
  }
}

.link a {
  text-decoration: none;
  color: #a9a9a9;
  padding: 15px;

  .footer a:hover {
    color: rgb(250, 94, 94);
  }
}

.footer-menu a {
  color: #9f9f9f;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.footer-menu ul {
  text-align: right;
  margin: 0;
}

.footer-social-link {
  color: rgb(255, 255, 255);
  text-decoration: none;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.footer-menu li {
  display: grid;
  padding-left: 20px;
}

.ul-1 {
  text-decoration: double;
}

.footer-menu a:hover {
  color: #00f7ff;
}

#BiSolidUpArrow {
  padding-bottom: 20px;
}

.back-to-top {
  position: relative;
  z-index: 2;
}
.back-to-top .btn-dark {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  padding: 5px;
  position: fixed;
  bottom: 70px;
  right: 20px;
  background: #013699;
  border-color: #2b2b2b;
  border: 2px;
  border-radius: 10px;
  display: none;
  z-index: 999;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.back-to-top .btn-dark:hover {
  cursor: pointer;
  background: #0058fb;
  border-color: #000000;
}