@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

.specific-page-background {
  /* background:linear-gradient(380deg,#030303,#1b1515); */
  background-size: 180% 180% ;
  animation: gradient-animation 18s ease infinite;
  background: linear-gradient(130deg,rgba(0, 0, 0, 0.661),rgb(3, 12, 34)) ;
  /* Additional styling for the specific page background */
}


.text-center{
  color: #ffffff;
  margin-top: 10px;
}

.card-img-top{
  padding: 50px;
  margin-top: 20px;
  align-items: center;
  margin-left: 60px;
  height: 600px;
  width: 600px;
}

.more-detail-container{
  display: flex;
  background: radial-gradient(#4b050599, #000000);
}

/* .detail-box{
  margin-left: 40px;
  height: 600px;
  width: 600px;
  padding: 50px;
} */
.detail-box-2{
  display: flex;
  justify-content: center;
  height: 600px;
  width: 50%;
}

.product-detail-box{
  /* background: linear-gradient(130deg,rgba(5, 19, 54, 0.661),rgba(16, 20, 30, 0.661)) ;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15.6px);
  border: 1px solid rgba(89, 89, 89, 0.822); */
  border-radius: 20px;
  padding: 30px;
  padding-left: 10%;
  /* justify-content: center; */
  margin-top: 60px;
  margin-left: 15%;
  margin-right: 10%;
  height: 80%;
  width: 100%;
}

#p-brand{
  font-weight: 800px;
  font-size: 45px;
}
#p-name{
  font-weight: 800px;
  font-size: 35px;
  color: #ff4a5c;
}
#p-category{
  color: #8a8a8a;
  font-weight: 800px;
  font-size: 23px;
}

#p-t-description{
  color: #ffffff;
  font-size: 20px;
}

#p-description{
  color:rgb(163, 163, 163);
  font-weight: 800px;
  font-size: 15px;
}
#p-price{
  color:#ffffff;
  font-weight: 800px;
  font-size: 35px;
}

.product-image-container {
  overflow: hidden;
  /* background: linear-gradient(300deg, #141414, #070606, #232323); */
  /* background: linear-gradient(300deg, #574200, #070606, #232323);  */
  padding: 5px; /* Add padding for spacing */
  border-radius: 10px 10px 0 0; /* Rounded corners on top */
}


.product-image {
  width: 100%;
  padding: 35px;
  /* border: 1px solid rgb(92, 92, 92); */
  background: #181a1b;
  height: auto; /* Adjust the height to fit the container */
  transition: transform 0.3s ease;
  object-fit: cover; /* Maintain aspect ratio and cover the container */
  border-radius: 30px; /* Rounded corners on all sides in default state */
  z-index: 1;
}

.product-image:hover {
  transform: scale(1.1);
  border-radius: 10px 10px 0 0; /* Rounded corners on top during hover */
}

.product-details {
  padding: 20px;
  padding-bottom: 15px;
  /* background: linear-gradient(300deg, #181855, #070606, #000000); */
  /* background: linear-gradient(300deg, #614700, #000000);  */
}

.product-name {
  font-size: 1.4rem;
  margin-bottom: 10px;
  text-align: center;
  text-shadow:0 1px  #8a8a8a ;
  color: #f3f3f3;
  font-weight: bold; /* Set font weight to bold */
}

.product-description {
  font-size: 1rem;
  color: #f80808;
  /* text-align: center; */
  margin-bottom: 15px;
  font-weight: bold; /* Set font weight to bold */
}

.btn-secondary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #0088ff;
  --bs-btn-border-color: #ffffff;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #0b2d7d;
  --bs-btn-hover-border-color: #aaaaaa;
  --bs-btn-focus-shadow-rgb: 130,138,145;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #565e64;
  --bs-btn-active-border-color: #51585e;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #6c757d;
  --bs-btn-disabled-border-color: #6c757d;
}

.card-1 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold; /* Set font weight to bold */
  /* border: 2px solid rgb(92, 92, 92); */
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  background: rgba(0, 0, 0, 0.064);
  backdrop-filter: blur(5px);
  width: 330px;
  margin: 20px;
  border: 1px solid rgba(219, 35, 25, 0.903);


  position: relative;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-1:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(225, 225, 225, 0.15);
  
}

.topic{
  /* text-align: left; */
  padding: 0;
  margin: 0;
  margin-left: 5px;
  font-style: bold;
  color: #e3e3e3;
}

.product-price {
  font-size: 1.3rem;
  color: #ff0019;
  text-align: center;
  margin-bottom: 15px;
  font-weight: bold; /* Set font weight to bold */
}

.buttons-container {
  display: flex;
  justify-content: space-around;
  /* background: linear-gradient(270deg, #171754, #070606, #000000); */
  /* background: linear-gradient(300deg, #6f5200, #070606);  */
  align-items: center;
  padding: 0 20px 20px;
}

.button {
  padding: 10px ;
  /* background: linear-gradient(300deg, #f39c12, #ffe058); */
  background: linear-gradient(300deg, #ffffff, #a8a8a8);
  color: #000000;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold; /* Set font weight to bold */
  transition: background-color 0.3s ease;
  width: 120px;
  height: 45px;
}

.button:hover {
  /* background-color: #7cb6fc; */
  background: linear-gradient(150deg, #ffa0a0, #ff6565);
}

.product-name-h4 {
  font-size: 1.2rem;
  margin-bottom: 5px;
  color: #ffffff;
}

.product-description-h4 {
  font-size: 1.2rem;
  margin-bottom: 5px;
  color: #ffffff;
}
.product-qty-h4 {
  font-size: 1.2rem;
  margin-bottom: 5px;
  color: #fffdfd;
}
.product-brand-h4 {
  font-size: 1.2rem;
  margin-bottom: 5px;
  color: #ffffff;
}

.product-price-h4 {
  color: #ff5722;
  font-size: 1.2rem;
  margin-bottom: 5px;
}
