.body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* background: linear-gradient(to bottom,#414868,#000000); */
  /* background: linear-gradient(-45deg, #000000, #111111, #000000, #111111);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh; */

  background: linear-gradient(300deg, #181818, #131212, #151414);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

section .color {
  position: absolute;
  filter: blur(150px);
}
/* section .color:nth-child(1) {
  top: -350px;
  width: 600px;
  height: 600px;
  background: #915303; 
}*/

@media (max-width: 768px) {
  header {
    padding: 50px;
  }
}
.box {
  position: relative;
}
.box .square {
  position: absolute;
  backdrop-filter: blur(5px);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(219, 35, 25, 0.903);
  border-right: 1px solid rgba(219, 35, 25, 0.903);
  border-bottom: 1px solid rgba(219, 35, 25, 0.903);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  animation: animate 10s linear infinite;
  animation-delay: calc(-1s * var(--i));
}
@keyframes animate {
  0%,
  100% {
    transform: translateY(-40px);
  }
  50% {
    transform: translateY(40px);
  }
}
.box .square:nth-child(1) {
  top: -50px;
  right: -60px;
  width: 100px;
  height: 100px;
}
.box .square:nth-child(2) {
  top: 150px;
  left: -100px;
  width: 120px;
  height: 120px;
  z-index: 2;
}
.box .square:nth-child(3) {
  bottom: 50px;
  right: -60px;
  width: 80px;
  height: 80px;
  z-index: 2;
}
.box .square:nth-child(4) {
  bottom: -50px;
  left: 100px;
  width: 50px;
  height: 50px;
}
.box .square:nth-child(5) {
  top: -60px;
  left: 140px;
  width: 60px;
  height: 60px;
}
.container-register {
  position: relative;
  width: 360px;
  max-height: 570px;
  background: rgba(0, 0, 0, 0.064);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
  /* box-shadow: 0 25px 45px rgba(0, 0, 0, 0.676); */
  box-shadow: 0 25px 45px rgba(255, 253, 253, 0.1);
  border: 1px solid rgba(219, 35, 25, 0.903);
  border-right: 1px solid rgba(219, 35, 25, 0.903);
  border-bottom: 1px solid rgba(219, 35, 25, 0.903);
}
.form {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 40px;
}
.form h2 {
  position: relative;
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 40px;
}
.form h2::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 80px;
  height: 4px;
  background: linear-gradient(135deg, #fe0707, #ffffff);
}
.form .inputBox {
  width: 100%;
  margin-top: 20px;
}
.form .inputBox input {
  width: 100%;
  background: #f15353e6;
  border: none;
  outline: none;
  padding: 10px 20px;
  border-radius: 35px;
  border: 1px solid rgba(219, 35, 25, 0.903);
  border-right: 1px solid rgba(219, 35, 25, 0.903);
  border-bottom: 1px solid rgba(219, 35, 25, 0.903);
  font-size: 16px;
  letter-spacing: 1px;
  color: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}
.form .inputBox input::placeholder {
  color: #fff;
}
.form .inputBox input:disabled {
background-color: #fe0707;
color: #131212;
font-weight: 600;
}

.form .inputBox input[type="submit"] {
  background: #fff;
  color: #f15353e6;
  max-width: 100px;
  cursor: pointer;
  padding: 13px;
  font-size: 17px;
  margin-bottom: 20px;
  font-weight: 700;
}

