  .scroll-button {
    width: 45px;
    height: 45px;
    padding: 12px;
    position: fixed;
    background: #f39c12;
    border-color: #2b2b2b;
    border: 3px solid;
    border-radius: 10px;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }

  .scroll-button:hover {
    cursor: pointer;
    background: #ffcb78;
    border-color: #000000;
  } 